<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit)="onSignUp()" #signInForm="ngForm">
       <div ngModelGroup="userInfo">
        <div class="form-group">
          <label for="UserName">UserName*</label>
          <input type="text" required ngModel name="UserName" id="userName" class="form-control">
        </div>
        <div class="form-group">
          <label for="Email">Email*</label>
          <input type="text" required ngModel name="Email" id="email" class="form-control">
        </div>
       </div>
      <div class="form-group">
        <label for="secretQuetion">Secret Quetion*</label>
        <select name="secretQuetion" id="secretQuetion" required [ngModel]="secretQuesDefault" class="form-control">
          <option value="fvrtTeacher">Favourite Teacher</option>
          <option value="fvrtSubject">Favourite Subject</option>
        </select>
      </div>
      <div class="form-group">
        <label for="answer">Answer</label>
        <textarea name="answer" required ngModel id="answer" class="form-control" rows="4"></textarea>
      </div>
      <div>
        <div class="radio form-group" *ngFor="let mode of modeOfContact">
         
          <input type="radio" name="contactMode" ngModel [value]="mode.moc" id="[mode.moc]" >
          <label for="[mode.moc]">{{mode.moc}}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="subscribeToEmail">subscribeToEmail</label>
        <input type="checkbox" ngModel name="subscribeToEmail" id="subscribeToEmail">
      </div>

      <div class="text-right">
        <button mat-raised-button color="accent" class="mt-4"
        [disabled]="signInForm.invalid"> Sign In </button>
      </div>
      </form>
      
    </div>
  </div>
</div>